{% extends 'web/base_main.html' %}
{% block content %}
<div class="wrapper">
  <main>
    <h2 class="place">您现在的位置是：网站首页&gt; <a href="#">内容页</a></h2>
    <div class="timebox">
      <ul>
        <li><span>2019-04-27</span><i><a href="#" >安静地做一个爱设计的女子</a></i></li>
        <li><span>2019-04-27</span><i><a href="#" >个人博客，属于我的小世界！</a></i></li>
        <li><span>2019-04-27</span><i><a href="#" >个人博客，我为什么要用帝国cms？</a></i></li>
        <li><span>2019-04-27</span><i><a href="#" >第二届 优秀个人博客模板比赛参选活动</a></i></li>
        <li><span>2019-04-27</span><i><a href="#" >D设计师博客-一个热爱生活的设计师</a></i></li>
        <li><span>2019-04-27</span><i><a href="#" >个人博客用帝国cms 自定义页面 灵动标签调用网站所有信息</a></i></li>
        <li><span>2019-04-27</span><i><a href="#" >帝国cms 栏目高级调用 高亮并且二级栏目增加样式</a></i></li>
        <li><span>2019-04-27</span><i><a href="#" >帝国cms 列表页调用子栏目，没有则不显示栏目名称</a></i></li>
        <li><span>22019-04-27</span><i><a href="#" >个人博客模板《绅士》后台管理</a></i></li>
        <li><span>2019-04-27</span><i><a href="#" >帝国cms 动态留言页，搜索页支持标签调用方法</a></i></li>
        <li><span>2019-04-27</span><i><a href="#" >用js实现手机导航-优化版</a></i></li>
        <li><span>2019-04-27</span><i><a href="#" >帝国cms使用灵动标签实现当前栏目高亮的方法</a></i></li>
        <li><span>2019-04-27</span><i><a href="#" t>帝国cms新闻系统增加图片集，并且列表模板调用所有小图实现方法</a></i></li>
        <li><span>2019-04-27</span><i><a href="#" > 帝国cms 首页或者列表页 实现图文不同样式调用方法</a></i></li>
        <li><span>2019-04-27</span><i><a href="#" >别让这些闹心的套路，毁了你的网页设计</a></i></li>
        <li><span>2019-04-27</span><i><a href="#" >帝国cms自动设置标题图片选用文章第一张图片</a></i></li>
        <li><span>2019-04-27</span><i><a href="#" >html5个人博客模板《simple》</a></i></li>
        <li><span>2019-04-27</span><i><a href="#" >html5古典个人博客模板《青砖屋檐》</a></i></li>
      </ul>
    </div>
  </main>
  <aside class="sidebar">
    <div class="about">
      <h2 class="hometitle">关于本站</h2>
      <ul>
        <div class="avatar"> <img src="/static/web/images/tx.png" alt=""> </div>
        <p class="abname">Michael | 胡才豪</p>
        <p class="abtext"> 一个90后草根菜鸟！18年入行。一直潜心研究web前端技术，一边工作一边积累经验，分享一些个人博客模板，以及SEO优化等心得。 </p>
        <li><a class="xlwb" href="#"></a></li>
        <li><a class="txqq" href="#"></a></li>
        <li><a class="rss" href="#"></a></li>
        <li class="wxpic"><a class="wx" href="#"></a><img src="/static/web/images/grwx.png"></li>
      </ul>
    </div>

    <div class="tpjx">
      <h2 class="hometitle">图片精选</h2>
      <ul>
        <li><a href="#"><i><img src="/static/web/images/1.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
        <li><a href="#"><i><img src="/static/web/images/2.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
        <li><a href="#"><i><img src="/static/web/images/3.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
        <li><a href="#"><i><img src="/static/web/images/4.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
        <li><a href="#"><i><img src="/static/web/images/5.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
        <li><a href="#"><i><img src="/static/web/images/6.jpg"></i><span>个人博客，属于我的小世界！</span></a></li>
      </ul>
    </div>
  </aside>
</div>
<!--wrapper end-->
{% endblock %}

